/* We can use Styled Components for writing programmable CSS. Also we can make use of css variables for color values and other constants. We can also use mixins to use certain CSS properties repetedly */

:root {
	--main-bg-color: #e7e7e7;
}

* {
	box-sizing: border-box;
}

.html,
body {
	background-color: var(--main-bg-color);
}

.App {
	text-align: center;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	background-color: var(--main-bg-color);
	min-height: 100vh;
}

@media only screen and (max-width: 959px) {
	.visible-below-960 {
		display: block;
	}
	.visible-above-960 {
		display: none;
	}
}

@media only screen and (min-width: 960px) {
	.visible-below-960 {
		display: none;
	}
	.visible-above-960 {
		display: block;
	}
}
